@import url(../fonts/_fonts.css.css);
@import '_variables';
@import '_mixin.scss';

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a,
a:visited {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

body {
    font-family: 'Montserrat reg';
    font-size: 16px;
    width: 100%;
    height: 100%;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main {
    flex: 1 1 auto;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1630px;

    @include breakpoint(xxxl) {
        max-width: 1630px;
    }

    @include breakpoint(xxl) {
        max-width: 1350px;
    }

    @include breakpoint(xl) {
        max-width: 1130px;
    }

    @include breakpoint(lg) {
        max-width: 934px;
    }

    @include breakpoint(md) {
        max-width: 678px;
    }

    @include breakpoint(sm) {
        padding: 0 30px;
    }

    @include breakpoint(xs) {
        padding: 0 30px;
    }
}

.header {

    @include breakpoint(sm) {


        &::after {
            content: '';
            background-color: #F5F5FA33;
            top: 0px;
            width: 100%;
            height: 45px;
            position: absolute;
        }

    }
}

.header_top {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "menu-right . menu-info"
        "menu-right . menu-nav";
    align-items: center;
    padding-top: 50px;
    padding-bottom: 60px;


    @include breakpoint(md) {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-areas:
            " menu-info menu-info"
            "menu-right menu-right"
            "menu-nav menu-nav";

    }

    @include breakpoint(sm) {
        padding: 15px 0 0 0;
    }

    &-logo {
        grid-area: menu-right;

        @include breakpoint(md) {
            padding-top: 15px;
        }
    }



    &-menu {
        grid-area: menu-info;
        justify-content: flex-end;
        gap: 7px;

        @include breakpoint(md) {
            justify-content: flex-start;
        }

        @include breakpoint(sm) {
            display: block;
        }
    }
}

.menu_list {
    gap: 6px;
    align-items: center;
    max-height: 25px;

    @include breakpoint(sm) {
        justify-content: space-between;
        visibility: hidden;
    }

    &-item {
        &:last-child {
            @include breakpoint(sm) {
                display: none;
            }
        }

        address {
            color: $greytext;
            line-height: 20px;
            letter-spacing: 0em;

            &:before {
                content: '';
                background-color: #E6E6F0;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #E6E6F0;
                display: inline-block;
                margin-right: 5px;
                transform: translate(0px, -2px);
            }
        }

        a {
            display: inline-block;
        }

        &:nth-child(-n+3)a {
            color: $white;
            font-family: 'Montserrat';
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;

            @include breakpoint(sm) {
                visibility: visible;
            }

            &:visited {
                background-color: #FFFFFF33;
                padding: 4px 6.5px;
                border-radius: 8px;
                text-decoration: underline;
            }

            &:hover {
                background-color: $accent ;
                padding: 4px 6.5px;
                border-radius: 8px;
                transition: 500ms;
            }

            &:active {
                background: #FFFFFF33;
                padding: 4px 6.5px;
                border-radius: 8px;
            }
        }

        &:nth-child(5)a {
            color: $white;
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: right;

            @include breakpoint(sm) {
                visibility: visible;
            }

        }

        &:last-child a {
            &:hover {
                background-color: $accent;
                border-radius: 50%;
            }
        }

        &:nth-last-child(2) a:before {
            content: '';
            background-color: #E6E6F0;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #E6E6F0;
            display: inline-block;
            margin-right: 5px;
            transform: translate(0px, -2px);

            @include breakpoint(sm) {
                visibility: hidden;
            }
        }

        &:nth-last-child(2) a:after {
            content: '';
            background-color: #E6E6F0;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #E6E6F0;
            display: inline-block;
            margin-left: 5px;
            transform: translate(0px, -2px);

            @include breakpoint(sm) {
                visibility: hidden;
            }
        }
    }
}

//*---burger---*//
#menu_toggle {
    opacity: 0;
}

#menu_toggle:checked~.menu_btn>span {
    transform: rotate(45deg);
}

#menu_toggle:checked~.menu_btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu_toggle:checked~.menu_btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu_toggle:checked~.menu_nav-list {
    visibility: visible;
    top: 110px;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    width: 100%;
    height: 60vh;
    transform: translateX(-100%);
}

.menu_btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 60px;
    right: 40px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    z-index: 1;
    visibility: hidden;

    @include breakpoint(sm) {
        visibility: visible;

    }

    &>span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $white;

        &::before {
            content: ('');
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $white;
            top: -8px;
        }

        &::after {
            content: ('');
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $white;
            top: 8px;
        }
    }
}

.menu_nav {
    grid-area: menu-nav;

    &-list {
        gap: 15px;
        align-items: center;
        justify-content: flex-end;

        @include breakpoint(md) {
            justify-content: flex-start;
        }

        @include breakpoint(sm) {
            visibility: hidden;
            flex-direction: column;
            position: absolute;
            top: 0;
            right: -100%;
            padding: 50px;
            z-index: 100;

        }

        &-item {
            a {
                font-family: 'Montserrat';
                line-height: 20px;
                letter-spacing: 0em;
                text-align: right;
                color: $white;

                &:hover {
                    color: $accent;
                    text-decoration: underline;
                    transition: 500ms;
                }
            }
        }
    }
}

.consistent {
    padding: 60px 0;

    @include breakpoint(xs) {
        padding: 30px 0;
    }

    &_info {
        justify-content: center;

        @include breakpoint (md) {
            flex-direction: column;
        }

        &-about {
            max-width: 861px;
            border-left: 4px solid #FFFFFF4D;
            color: $white;
            padding: 73px 0 73px 60px;

            @include breakpoint(lg) {
                padding: 0 0 0 60px;
                max-width: 415px;
            }

            @include breakpoint(md) {
                border: none;
                align-self: center;
                max-width: 648px;
                padding: 60px 0 0 0;
            }

            @include breakpoint(sm) {
                max-width: 315px;
                padding: 30px 0 0 0;
            }

            h2 {
                font-family: 'Montserrat';
                font-size: 30px;
                font-weight: 700;
                line-height: 37px;
                letter-spacing: 0em;
                text-align: left;
                margin-bottom: 30px;

                @include breakpoint(sm) {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            p {
                font-size: 19px;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
            }
        }

        &-list {
            padding-right: 60px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 30px;

            @include breakpoint(md) {
                justify-content: space-between;
                flex-direction: row;
                overflow-x: auto;
                padding-bottom: 60px;
            }

            @include breakpoint(sm) {
                padding-bottom: 30px;
            }

            li {
                a {
                    color: $greytext;
                    font-family: 'Montserrat';
                    font-weight: 700;
                    font-size: 38px;
                    line-height: 46px;
                    text-align: right;
                    white-space: nowrap;

                    &:hover {
                        color: $accent;
                    }
                }

                &:first-child {
                    background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
        }
    }
}


.footer {
    padding-bottom: 30px;
    background-color: $greybg;

    &_inner {
        border-top: 2px solid $greysep;
        padding-top: 30px;
        grid-template-areas:
            "address . . right"
            "contacts contacts . .";

        @include breakpoint (lm) {
            grid-template-areas:
                "address right right right"
                "contacts contacts contacts contacts";
        }

        @media screen and (max-width:625px) {
            grid-template-areas:
                "address address address address"
                "contacts contacts contacts contacts"
                " right right right right";
        }
    }

    &-left {
        &-address {
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
            grid-area: address;

            @media screen and (max-width:625px) {
                flex-direction: column;
            }
        }

        &-contacts {
            align-items: center;
            gap: 10px;
            grid-area: contacts;

            @media screen and (max-width:625px) {
                flex-direction: column;
            }
        }
    }

    &-right {
        grid-area: right;

        p {
            line-height: 20px;
            letter-spacing: 0px;
            text-align: right;
            color: $greytext;

            @media screen and (max-width:625px) {
                text-align: center;
                margin-top: 30px;
            }
        }
    }
}