$xxxl: 1920px;
$xxl: 1440px;
$xl: 1200px;
$lg: 1024px;
$lm: 900px;
$md: 768px;
$sm: 576px;
$xs: 320px;
$mainblue: #323264;
$accent: #F0145A;
$greysep: #E6E6F0;
$white: #ffffff;
$greytext: #B3B3BA;
$greybg: #F5F5FA;
$activeblue: #24A3FF;